@font-face {
    font-family: iranYekanLight;
    src: url('../fonts/iranYekan/IRANYekanLightFaNum.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: iranYekanRegular;
    src: url('../fonts/iranYekan/IRANYekanRegularFaNum.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: iranYekanMedium;
    src: url('../fonts/iranYekan/IRANYekanMediumFaNum.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: iranYekanBold;
    src: url('../fonts/iranYekan/IRANYekanBlackFaNum.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Remove default padding */

ul,
ol {
    padding: 0;
}


/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}


/* Set core body defaults */

html {
    scroll-behavior: smooth;
}

body {
    font-family: iranYekanRegular;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    direction: rtl;
    position: relative;
    background-color: #FCFCFC;
}

.body-overflow {
    overflow: hidden;
}


/* Remove list styles on ul, ol elements with a class attribute */

ul[class],
ol[class] {
    list-style: none;
}


/* A elements that don't have a class get default styles */

a:not([class]) {
    text-decoration-skip-ink: auto;
}


/* Make images easier to work with */

img {
    max-width: 100%;
    display: block;
}

a,
a:hover {
    text-decoration: none;
    color: #dbb366;
    transition: .4s all;
}


/* Natural flow and rhythm in articles by default */

article>*+* {
    margin-top: 1em;
}


/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
    font: inherit;
}

input:focus-visible {
    outline: 0;
    box-shadow: none;
}

h1,
.h1 {
    font-size: 2.2rem;
}

h2,
.h2 {
    font-size: 2rem;
}

h3,
.h3 {
    font-size: 1.8rem;
}

h4,
.h4 {
    font-size: 1.6rem;
}

h5,
.h5 {
    font-size: 1.4rem;
}

h6,
.h6 {
    font-size: 1.2rem;
}

.free-resources-row [class^="col-"] {
    padding: 0 5px;
}


/* custom inputs  */

.custom-input {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-radius: 1px;
    border: solid 1px #eee;
    background-color: #fafafa;
}

.custom-input:focus,
.custom-input:active {
    border: 1px solid #FFD119;
}

.input-error-auth {
    border: 1px solid red;
}

.input-error-wrapper,
.show-error-row {
    width: 100%;
    padding: 10px 6px;
}

small.error-msg {
    color: red;
}


/***** cusotm btn style *******/

.btn-custom {
    font-family: iranYekanMedium;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    background-repeat: no-repeat;
    padding: 8px 30px;
    font-size: .85rem;
    line-height: 1.5;
    border-radius: 30px;
    cursor: pointer;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-border {
    background-color: transparent;
    color: #fff;
    transition: all .4s;
    border: 1px solid #fff;
    padding: 6px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-border:active,
.btn-border:focus,
.btn-border:hover {
    color: #fff;
    -webkit-box-shadow: -3px 4px 5px -1px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: -3px 4px 5px -1px rgba(0, 0, 0, 0.28);
    box-shadow: -3px 4px 5px -1px rgba(0, 0, 0, 0.28);
}

.btn-border-brown {
    background-color: #dbb366;
    color: #fff;
    transition: all .4s;
    border: 1px solid #dbb366;
    padding: 6px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-border-brown:hover,
.btn-border-brown:focus,
.btn-border-brown:active {
    color: #fff;
    -webkit-box-shadow: -3px 4px 5px -1px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: -3px 4px 5px -1px rgba(0, 0, 0, 0.28);
    box-shadow: -3px 4px 5px -1px rgba(0, 0, 0, 0.28);
}

.btn-brown {
    transition: all .4s;
    background-color: #dbb366;
    border: 1px solid #dbb366;
    color: #fff;
    border-radius: 8px;
    padding: 18px 15px;
}

.btn-brown:active,
.btn-brown:focus,
.btn-brown:hover {
    color: #fff;
    -webkit-box-shadow: 0px 0px 17px 3px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 17px 3px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 0px 17px 3px rgba(0, 0, 0, 0.22);
}

.btn-default-c {
    padding: 18px 20px;
    transition: all .4s;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    -webkit-box-shadow: 0px 0px 17px 3px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 17px 3px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 0px 17px 3px rgba(0, 0, 0, 0.22);
}

.btn-default-c:hover {
    box-shadow: none;
    border: 1px solid #dbb366;
}

.icon-btn {
    width: 30px;
    height: 30px;
    overflow: hidden;
    padding: 3px;
    margin: 0 10px;
}

.icon-btn img {
    max-width: 100%;
}

#main-menu {
    z-index: 99;
}

#main-menu.scroll {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20;
    transition: all .5s;
    margin-top: 20px;
    background: #fff;
    margin-top: 0;
    -webkit-box-shadow: 0px 1px 6px 0px rgb(0 0 0 / 24%);
    -moz-box-shadow: 0px 1px 6px 0px rgb(0 0 0 / 24%);
    box-shadow: 0px 1px 6px 0px rgb(0 0 0 / 24%);
    z-index: 10;
}

#main-menu.hide {
    transform: translateY(-100%);
}

.header-section-wrapper {
    width: 100%;
    padding-bottom: 1em;
    position: relative;
    margin-bottom: 2em;
}

.head-section-bg {
    position: absolute;
    z-index: 0;
    top: -50%;
    left: 0;
    width: 45%;
}

#list-content-main .nav-item .nav-link {
    font-size: 16px;
    color: #000;
    font-weight: 600;
}

#list-content-main .nav-item.active .nav-link {
    font-weight: 400;
    color: #dbb366;
}

.top-header-h {
    font-size: 1.8em;
    font-weight: bold;
    font-family: iranYekanMedium;
    margin-bottom: 2em;
    margin-top: 2em;
}

.top-header-h span {
    color: #dbb366;
    display: inline-block;
    margin-top: 1em;
    font-size: 2rem;
}

.top-header-content {
    color: #686868;
    margin-top: 20px;
    font-size: 1rem;
    text-align: justify;
}

.why-pain-section {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 3em 0;
    margin-top: 4em;
}

.headin-section-box {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.8rem;
    font-family: iranYekanBold;
}

.headin-section-box-icon {
    width: 50px;
    height: 50px;
    background-color: #000;
    padding: 6px;
    border-radius: 8px;
    margin: 0 10px;
    display: inline-block;
}

.section-content {
    padding: 3em 0;
}

.buy-property-section {
    width: 100%;
    position: relative;
    padding: 2em 0;
}

.section-content p {
    color: #686868;
    font-size: 1rem;
    padding: .5em;
    line-height: 2rem;
    text-align: justify;
}

.emigration-list {
    width: 100%;
    position: relative;
    padding: 10px;
}

.emigration-list-li {
    font-size: 1rem;
    padding: 8px;
    position: relative;
    color: #686868;
    text-align: justify;
}

.emigration-list-li::before {
    content: "\2022";
    color: #dbb366;
    font-weight: bold;
    display: inline-block;
    font-size: 25px;
    position: absolute;
    right: -10px;
    top: 5px;
}

.investment-section {
    width: 100%;
    position: relative;
    padding: 2em 0;
}

.financial-ability-section {
    width: 100%;
    position: relative;
    padding: 2em 0;
}

.headin-comments-icon {
    width: 30px;
    margin: 14px;
}

.headin-comments {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    font-family: iranYekanBold;
    color: #fff;
}

.user-comments-section {
    width: 100%;
    position: relative;
    padding: 2em 0;
    padding-bottom: 6em;
    overflow: hidden;
}

.user-comments-head {
    background-color: #000000;
    padding: 2em 0;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.comments-slider-wapper-item-text {
    font-size: .85rem;
    color: #fff;
    line-height: 2em;
    min-height: 125px;
    text-align: justify;
}

.product-langing-video-player {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    margin-bottom: 3em;
    -webkit-box-shadow: -2px 9px 25px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 9px 25px -15px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 9px 25px -15px rgba(0, 0, 0, 0.75);
}

.product-landing-shape {
    position: absolute;
    top: -3%;
    right: -30%;
    background: white;
    width: 75em;
    height: 62em;
    border-radius: 50%;
}

.product-landing-icon-box {
    margin: 3em 0;
}

.comments-slider-wapper-item {
    padding: 2em 1em;
}

.comments-slider-wapper-item-video {
    margin-top: 20px;
    overflow: hidden;
    border-radius: 8px;
}

.list-comments-slider-wapper {
    margin-bottom: -160px;
}

.investate-licenses-section {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 2em 0;
}

.list-horizontal-emigration {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}

.list-horizontal-emigration li {
    position: relative;
}

.list-horizontal-emigration li::before {
    content: "\2022";
    color: #dbb366;
    font-weight: bold;
    display: inline-block;
    font-size: 25px;
    position: absolute;
    right: -18px;
    top: -2px;
}

.call-to-action-box {
    width: 100%;
    background: #dbb366;
    border-radius: 8px;
    position: relative;
    margin: 3em 0;
}

.call-to-action-box-image {
    width: 100px;
    margin: 0 auto;
    margin-top: -19px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action-box-head {
    font-size: 1.3rem;
    padding: 10px 0px;
    padding-right: 20px;
    color: #fff;
}

.call-to-action-box-p {
    width: 100%;
    font-size: .8rem;
    padding: 0.5em 0px;
    padding-right: 20px;
    color: #fff;
}

.call-to-action-box-btn {
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.download-catalog-box {
    width: 100%;
    padding: 16px 10px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    border-radius: 8px;
}

.download-catalog-title {
    font-size: 1.1em;
    color: #fff;
    padding-bottom: 1em;
}

.btn-custom.btn-call-to-cation {
    background: #dbb366;
    color: #fff;
}

.download-catalog-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-catalog-title-icon {
    width: 30px;
    height: 30px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-header-c {
    width: 100%;
    position: relative;
}

.faq-btn {
    width: 100%;
    position: relative;
    text-align: right;
    padding: 10px 12px;
    background: #fff;
    border: 0;
    cursor: pointer;
    font-size: 1rem;
    font-family: iranYekanBold;
}

.faq-btn-icon {
    position: absolute;
    left: 20px;
    top: 10px;
    display: inline-block;
}

.arrow-down {
    width: 26px;
    height: 26px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq-btn:focus,
.faq-btn:active,
.faq-btn:focus-visible,
.faq-btn:visited {
    outline: 0!important;
}

.card-custom {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 10px 30px 0 rgb(0 0 0 / 5%);
    margin-bottom: 12px;
}

.arrow-down {
    background-image: url(../image/arrow-down.png);
}

.arrow-up {
    background-image: url(../image/arrow-up.png);
}

.accordion-content {
    background: #fff;
    padding: 12px 20px;
    margin-top: 3px;
    color: #686868;
}

.foooter-campaign {
    background-color: #2a2b31;
    width: 100%;
    padding-top: 2em;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    position: relative;
    overflow: hidden;
}

.company-map {
    width: 100%;
    height: 230px;
    overflow: hidden;
    border-radius: 12px;
}

.shape-box-img {
    position: absolute;
    max-width: 350px;
    left: 3px;
}

.faq-wrapper-section {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 2em;
}

.btn-instagram {
    font-size: .95rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 6px 10px;
    font-size: .95rem;
    color: #fff;
    border-radius: 5px;
    background-image: linear-gradient(46deg, #ffd521 -36%, #ffd521 -30%, #f50000 30%, #b900b4 89%, #b900b4 89%, #b900b4 95%);
}

.btn-whatsapp {
    border-radius: 5px;
    background-color: #52cb60;
    color: #fff;
    font-size: .95rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 6px 10px;
}

.btn-whatsapp-icon {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.footer-heading {
    font-size: 1.2rem;
    color: #dbb366;
    padding: 1em 0;
    font-family: iranYekanBold;
}

.footer-list-link {
    font-size: .85rem;
    padding: 10px;
    color: #fff;
}

.footer-contct-li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-contct-icon {
    width: 45px;
    height: 45px;
    background: #686868;
    padding: 10px;
    border-radius: 10px;
}

.footer-contct-content {
    display: flex;
    flex-flow: column;
    padding-right: 12px;
    font-size: 1rem;
    color: #fff;
}

.footer-contct-title {
    font-size: .9rem;
    padding-bottom: 5px;
}

.footer-contct-text a {
    font-size: .85rem;
    color: #fff;
}

.footer-contct-li {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0;
}

.footer-contct-text {
    font-size: .85rem;
}

.sub-footer {
    padding: 14px;
    width: 100%;
    background: #000000;
}

.sub-footer-text {
    text-align: center;
    color: #fff;
    font-size: 1rem;
}

#navbar-toggler {
    display: none;
}

#navbar-toggler .text-btn {
    display: none;
}

.modal-header-custom {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.close {
    font-size: 1rem;
}

.close span {
    border: 2px solid #464444;
    border-radius: 9px;
    width: 28px;
    height: 28px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.modal-heading {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.2rem;
    font-family: iranYekanBold;
    color: #dbb366;
}

.modal-headin-icon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.modal-heading-sub-title {
    padding: 25px 10px;
    font-size: .85rem;
    color: #424242;
    text-align: justify;
}


/* custom input btn */

.radio-item {
    display: inline-block;
    position: relative;
    padding: 0 6px;
    margin: 10px 0 0;
    font-size: .9rem;
}

.radio-item input[type='radio'] {
    display: none;
}

.radio-item label {
    color: #474747;
    font-weight: normal;
    cursor: pointer;
}

.radio-item label:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 5px;
    margin: 0 0 0 10px;
    width: 16px;
    height: 16px;
    border-radius: 11px;
    border: 2px solid #BDBDBD;
    background-color: transparent;
}

.radio-item input[type=radio]:checked+label:after {
    border-radius: 11px;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 9px;
    right: 10px;
    content: " ";
    display: block;
    background: #dbb366;
}

.radio-item input[type=radio]:checked+label:before {
    border: 2px solid #dbb366;
}

.box-emigration-type .col-md-2,
.box-emigration-type .col-md-3 {
    padding: 0;
}

.call-to-action-row-mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #fff;
    z-index: 99;
    display: none;
    justify-content: center;
    align-items: center;
}

.call-to-action-row-mobile.scroll {
    display: block;
}

textarea::placeholder {
    font-size: .85rem;
    text-align: justify;
}

@media screen and (max-width:768px) {
    #navbar-toggler {
        display: flex;
    }
    #main-menu {
        z-index: 99;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
    }
    .call-to-action-row-mobile {
        text-align: center;
    }
    .call-to-action-row-mobile .btn-default-c,
    .call-to-action-row-mobile .btn-brown {
        padding: 10px;
    }
    .head-section-bg {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .head-section-bg img {
        transform: scale(1.5);
    }
    .top-header-h {
        color: #fff;
        text-align: center;
        margin-bottom: .5em;
        margin-top: 2em;
    }
    .header-section-wrapper {
        padding-bottom: 2em;
        margin-bottom: 1em;
        background-image: url(../image/head-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .top-header-content {
        color: #fff;
    }
    .section-content {
        padding: .5em 0;
    }
    .call-to-action-head {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .image-section-row {
        display: none;
    }
    .headin-section-box {
        font-size: 1.55rem;
        padding: .5em 0;
    }
    .investment-section {
        padding: .5em 0;
    }
    .why-pain-section {
        margin-top: 0em;
        padding: .5em 0;
    }
    .financial-ability-section {
        padding: .5em 0;
    }
    .list-horizontal-emigration {
        flex-flow: column-reverse;
    }
    .list-horizontal-emigration li {
        padding: 10px 0;
    }
    .product-langing-video-player {
        margin-bottom: 1em;
    }
    .call-to-action-box-head {
        font-size: 1rem;
    }
    .call-to-action-box-p {
        font-size: .7rem;
    }
    .call-to-action-box-image {
        width: 115px;
    }
    .download-catalog-box {
        flex-flow: row;
        align-items: center;
        justify-content: space-around;
        padding: 15px 8px;
    }
    .btn-custom.btn-call-to-cation {
        font-size: .7rem;
        padding: 8px;
    }
    .download-catalog-title {
        font-size: .7rem;
        padding-bottom: 0em;
    }
    .btn-instagram,
    .btn-whatsapp {
        font-size: .8rem;
        padding: 4px 5px;
    }
    .footer-list-ul,
    .footer-contct-list {
        padding: 1em 0;
    }
    textarea.form-control {
        height: auto;
        min-height: 140px;
    }
    .accordion-content {
        font-size: .85rem;
    }
    .faq-btn-text {
        font-size: .8rem;
        display: inline-block;
        margin-left: 42px;
        text-align: justify;
    }
    .btn-whatsapp-icon {
        margin-left: 3px;
    }
    #social-media-btn {
        padding: 0;
    }
}

@media screen and (max-width:450px) {}

@media screen and (max-width:400px) {}

@media screen and (max-width:350px) {}

@media only screen and (max-width:520px) {
    .navbar-brand {
        width: 100px;
    }
}


/* Large devices (tablet, 769px and up) */

@media only screen and (min-width: 769px) {}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 500px) and (max-width: 768px) {}

@media screen and (min-width: 992px) and (max-width: 1220px) {}

@media screen and (min-width: 767px) and (max-width: 992px) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}

@media only screen and (min-width: 1050px) {}

@media only screen and (min-width: 1300px) {
    .head-section-bg {
        width: auto;
    }
}